<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <link rel="stylesheet" href="micss.css">
    <title></title>
  </head>
  <body>
  <div id="main">
  <nav v-bind:class="active" v-on:click.prevent>
    <a href="#" class="home" v-on:click="makeActive('home')">Teléfono móvil</a>
    <a href="#" class="projects" v-on:click="makeActive('projects')">Localización</a>
    <a href="#" class="services" v-on:click="makeActive('services')">Correo electrónico</a>
 
  </nav>
  
  
<div class="alert alert-info col-md-12" style="width: 100%;  background-color: lightblue;" v-if="active=='home'">
            <span class="glyphicon glyphicon-phone"></span>
              <h4>Teléfono móvil</h4>
              <p>3174862738</p>
           
</div>
<div class="alert alert-danger col-sm-4" style="width:100%" v-if="active=='projects'">

            <span class="glyphicon glyphicon-phone-alt"></span>

                <h4>Bogotá, Colombia</h4>
              <p>2890979</p>
              
</div>

 <div class="alert alert-success col-sm-4" style="width: 100%"  v-if="active=='services'">
              <span class="glyphicon glyphicon-envelope"></span>
              <h4>Correo electrónico</h4>
              <p>ewcontrerasmoncada@gmail</p>
       
 </div>
</div>

    <div class="container-fluid">

       <div class="jumbotron text-center background:transparent ">
        
      
<h1 class="text-info text-center" style="color: blue; text-shadow: 2px 2px 8px #3399ff">Programación y desarrollo PHP </h1>
         <h2  class="text-success">Aplicaciones a medida. Desarrollos ajustados a las necesidades.</h2>

          <div id="myCarousel" style=" width: 80%; /* for example */
    margin: auto;" class="carousel slide center-block" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="./img/images.jpeg" alt="Los Angeles" style=" width: 1200px;
    height: 350px;">
              </div>

              <div class="item">
                <img src="./img/angular.jpg" alt="Chicago" style=" width: 1200px;
    height: 350px;">
  </div>

              <div class="item">
                <img src="./img/por-que-laravel.jpg" alt="New york" style=" width: 1200px;
    height: 350px;">
              </div>
              <div class="item">
                <img src="./img/mysql.png" alt="bootstrap" style=" width: 1200px;
    height: 350px;">
              </div>
            </div>

            <!-- Left and right controls -->

          </div>


   </div>

      </div>
     </div>


          </div>
     </div>
    </div>
    <script type="text/javascript" src="./node_modules/vue/dist/vue.js"></script>
<script type="text/javascript">
  

 new Vue({
  el: '#main',
  data: {


    active: 'home'
  },
  methods: {
    makeActive: function(item){
        this.active = item;

    }
  }
})
</script>


  </body>
</html>
